*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.exe
*.install
*.merlin
.*sw*
_build
libdoc
src/syntax/ppx_sedlex
src/generator/data/*.txt
examples/complement
examples/tokenizer
examples/subtraction
_opam
