name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Setup OCaml
      uses: avsm/setup-ocaml@master
    - name: Install locally
      run: opam install -y .
    - name: Build locally
      run: opam exec dune build
    - name: Run tests locally
      run: opam exec dune runtest
